h1 {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px 20px;
}

/*making this hidden then visible seems to display a blank image */
.card-img-top {
  display: none;
}

h2 {
  margin: 20px 20px;
}

#day-0-icon {
  max-width: 20%;
}

.card-img-top {
  max-width: 50%;
}
